@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@400;600;800&display=swap');

html { 
  scroll-behavior: smooth; 
}

:root {
  font-family: 'Plus Jakarta Sans', sans-serif;
}